
  .content
  {
    align-content: left;
  }
  .navbar 
  {
      margin-bottom: 0;
      background-color: #c02e2b;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      position: relative;
  }

  .navbar li a, .navbar .navbar-brand 
  {
      color: #fff !important;
  }

  .navbar-nav li a:hover, .navbar-nav li.active a 
  {
      color: #c02e2b !important;
      background-color: #fff !important;
  }

  .navbar-default .navbar-toggle 
  {
      border-color: transparent;
      color: #fff !important;
  }
  .carousel-control.right, .carousel-control.left 
  {
    background-image: none;
    color: #fff;
  }
.carousel .item 
{
  height: 400px;
}
.item img 
{
  position: relative;
  top: 0;
  left: 0;
  min-height: 400px;
}
.item h4 
{
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span 
{
  font-style: normal;
}

.card
  {
    padding: 50px;
  }
  .card-header
  {
    background-color: #c02e2b;
  }
  #label
  {
    color: #fff;
  }
  .submit
  {
    background-color: #d6b183;
    color: black;
    border: #fff;
    font-size: 16px;
  }

  .body {
    background-color: #fff;
  }
  .card {
    width: 400px;
    border: none;
  }
  .btr {
    border-top-right-radius: 5px !important;
  }
  .btl {
    border-top-left-radius: 5px !important;
  }
  .btn{
    color: #fff;
    background-color: #d6b183;
    border-color: #d6b183;
  }
  .btn:hover {
    color: #fff;
    background-color: #c02e2b;
    border-color: #c02e2b;
  }
  .nav-pills {
    display: table !important;
    width: 100%;
  }
  .nav-pills .nav-link {
    border-radius: 0px;
    border-bottom: 1px solid #c02e2b;
  }
  .nav-item {
    display: table-cell;
    background: #c02e2b;
  }
  .form {
    padding: 10px;
    height: 300px;
  }
  .form input {
    margin-bottom: 12px;
    border-radius: 3px;
  }
  .form input:focus {
    box-shadow: none;
  }
  .form button {
    margin: 20px;
  }